<footer class="site-footer container">
  <data class="u-url" href="{{ "/" }}"></data>
  <div class="row justify-content-center text-center">
    <div class="col-md-6">
      <hr />
      {{ site.title | escape }} 
      &copy; {{ 'now' | date: "%Y" }} 
      {{ site.author | default: site.title | escape }}<br>
      {{- site.description | escape -}}<br>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
      </a> |
      <a href="{{ site.page_repo_url }}" target="_blank">Site source</a>
    </div>
  </div>
</footer>
